streamlit
openai==0.28
git+https://github.com/PyThaiNLP/pythainlp.git
git+https://github.com/nltk/nltk.git
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0.tar.gz
pandas
openpyxl
wordcloud
matplotlib
langdetect
google_trans_new
epitran
requests
transformers
torch
translate
flite
